include ../includes/backstreet_empty
include ../includes/backstreet_header
extends ../includes/backstreet_layout

block vars
    - var title = 'Заброшенные инфекционные корпуса'

block head_assets
    meta(property="og:title",        content="#{title} в проекте «Московские закоулки»")
    meta(property="og:description",  content="Там есть 3 корпуса. Один практически не различим с землей.")
    meta(property="og:url",          content="https://nick-iv.me/moscow-backstreets/abandoned-infectious-buildings.html")
    meta(property="og:image",        content="https://nick-iv.me/static/images/smm-mb.png")
    meta(property="og:image:type",   content="image/png")
    meta(property="og:image:width",  content="398")
    meta(property="og:image:height", content="208")

block article
    +empty('//img-fotki.yandex.ru/get/3107/nim579.1/0_331f_639b920f_XL', 'А пока можно посмотреть красивые <a href="/photos.html#albums/181583">фотографии заброшенных корпусов</a>.')
