include ../includes/backstreet_empty
include ../includes/backstreet_header
extends ../includes/backstreet_layout

block vars
    - var title = 'Нагатинская пойма'

block head_assets
    meta(property="og:title",        content="#{title} в проекте «Московские закоулки»")
    meta(property="og:description",  content="В глубине парка — дебри.")
    meta(property="og:url",          content="https://nick-iv.me/moscow-backstreets/floodplain-of-nagatino.html")
    meta(property="og:image",        content="https://nick-iv.me/static/images/smm-mb.png")
    meta(property="og:image:type",   content="image/png")
    meta(property="og:image:width",  content="398")
    meta(property="og:image:height", content="208")

block article
    +empty('//img-fotki.yandex.ru/get/6302/30973186.f/0_8572a_a61d1d46_XL', 'А пока можно посмотреть красивые <a href="/photos.html#albums/181441">фотографии поймы</a>.')
