include ../includes/backstreet_empty
include ../includes/backstreet_header
extends ../includes/backstreet_layout

block vars
    - var title = 'Новоспасский пруд и монастырь'

block head_assets
    meta(property="og:title",        content="#{title} в проекте «Московские закоулки»")
    meta(property="og:description",  content="Нет никакого пафоса и толп людей. Всё для отдыха.")
    meta(property="og:url",          content="httpы://nick-iv.me/moscow-backstreets/novospassky-pond.html")
    meta(property="og:image",        content="https://nick-iv.me/static/images/smm-mb.png")
    meta(property="og:image:type",   content="image/png")
    meta(property="og:image:width",  content="398")
    meta(property="og:image:height", content="208")

block article
    +empty('//img-fotki.yandex.ru/get/5407/30973186.13/0_89865_66039e69_XL', 'А пока можно посмотреть красивые <a href="/photos.html#albums/184606">фотографии пруда и монастыря</a>.')
