include ../includes/backstreet_empty
include ../includes/backstreet_header
extends ../includes/backstreet_layout

block vars
    - var title = 'Петровский Путевой Дворец'

block head_assets
    meta(property="og:title",        content="#{title} в проекте «Московские закоулки»")
    meta(property="og:description",  content="Этот мост стал визитной карточкой города")
    meta(property="og:url",          content="https://nick-iv.me/moscow-backstreets/petrovsky-palace.html")
    meta(property="og:image",        content="https://nick-iv.me/static/images/smm-mb.png")
    meta(property="og:image:type",   content="image/png")
    meta(property="og:image:width",  content="398")
    meta(property="og:image:height", content="208")

block article
    +empty('//img-fotki.yandex.ru/get/16117/30973186.22/0_bf617_fccb197b_orig', 'А пока можно посмотреть красивые <a href="/photos.html#albums/214291">фотографии дворца</a>.')
