include ../includes/backstreet_empty
include ../includes/backstreet_header
extends ../includes/backstreet_layout

block vars
    - var title = 'Долина реки Сетунь'

block head_assets
    meta(property="og:title",        content="#{title} в проекте «Московские закоулки»")
    meta(property="og:description",  content="Весной пойма Сетуни заливается водой, которая заполняет не только русло, но и старицу.")
    meta(property="og:url",          content="https://nick-iv.me/moscow-backstreets/river-valley-setun.html")
    meta(property="og:image",        content="https://nick-iv.me/static/images/smm-mb.png")
    meta(property="og:image:type",   content="image/png")
    meta(property="og:image:width",  content="398")
    meta(property="og:image:height", content="208")

block article
    +empty('//img-fotki.yandex.ru/get/15543/30973186.22/0_bf688_12febf2a_orig', 'Старая статья была слишком плоха, простите!')
