include ../includes/backstreet_empty
include ../includes/backstreet_header
extends ../includes/backstreet_layout

block vars
    - var title = 'Введенское кладбище'

block head_assets
    meta(property="og:title",        content="#{title} в проекте «Московские закоулки»")
    //- meta(property="og:description",  content="")
    meta(property="og:url",          content="https://nick-iv.me/moscow-backstreets/vvedenskoye-cemetery.html")
    meta(property="og:image",        content="https://nick-iv.me/static/images/smm-mb.png")
    meta(property="og:image:type",   content="image/png")
    meta(property="og:image:width",  content="398")
    meta(property="og:image:height", content="208")

block article
    +empty('//img-fotki.yandex.ru/get/3501/nim579.9/0_bc3e_f06d9971_XL', 'А пока можно посмотреть красивые фотографии кладбища <a href="/photos.html#albums/32925">зимой</a> и <a href="/photos.html#albums/56979">осенью</a>.')
