!!! html
html
    head
        title Московские закоулки — Nick Iv
        meta(http-equiv="content-type",  content="text/html; charset=utf-8")
        meta(name="viewport",            content="width=device-width, initial-scale=1.0")
        meta(property="og:title",        content="Фотопроект «Московские закоулки»")
        meta(property="og:description",  content="Необычные места Москвы, в&nbsp;которых не&nbsp;обязан побывать каждый Москвич")
        meta(property="og:url",          content="http://nick-iv.me/moscow-backstreets/about.html")
        meta(property="og:image",        content="http://nick-iv.me/static/images/smm-mb.png")
        meta(property="og:image:type",   content="image/png")
        meta(property="og:image:width",  content="398")
        meta(property="og:image:height", content="208")

        link(rel="icon", type="image/png", href="/favicon.png")
        link(rel="stylesheet", type="text/css", href="/static/css/global.css")
        script(type="text/javascript", src="http://yandex.st/jquery/1.8.1/jquery.min.js")

    body.bLayout.bPage
        .bPage__eWrapper
            header.bPage__eHeader
                span.bPage__eHeaderItem
                    img.bNavi__eAvatar(src="/static/images/ava-mb.png", alt="")

                span.bPage__eHeaderItem
                    h1.bPage__eTitle О проекте
                    span &nbsp;/&nbsp;
                    a(href="/moscow-backstreets/") Московские&nbsp;Закоулки

            img.bMCPage__eImage(src="/static/images/about-mb.jpg", alt="")
            article.bPage__eArticle
                p.bPage__eParagraph Каждый день Москву посещают толпы <s>инопланетян</s>, иностранцев, иноземцев, иногородцев. Все они бывают в&nbsp;одних и&nbsp;тех&nbsp;же местах, которые прописаны у&nbsp;них в&nbsp;путеводителях, и&nbsp;печатаются на&nbsp;открытках и&nbsp;календарях. Все популярные места конечно прекрасны, и&nbsp;показывают лицо нашего города. Но&nbsp;есть еще множество местечек и&nbsp;закоулок, которые не&nbsp;менее прекрасны, и&nbsp;которые тоже стоит посетить, тем кто хочет узнать настоящую Москву.
                p.bPage__eParagraph Цель проекта &laquo;Московские закоулки&raquo;&nbsp;&mdash; показать самые необычные и&nbsp;интересные места Москвы, которые &laquo;не&nbsp;обязан&raquo; посетить каждый турист, или житель Москвы.

                h2.bPage__eParagraph Как проходит проект
                p.bPage__eParagraph Выбираются места, которые можно успеть посетить за&nbsp;день. Они должны быть рядом, чтобы можно было дойти до&nbsp;них пешком. В&nbsp;хорошую погоду, участники проекта приезжают на&nbsp;первое место, и&nbsp;начинают его осматривать, фотографировать и&nbsp;подмечать детали. Часть за&nbsp;один день проекта, получается пройти пешком чуть-более 20&nbsp;километров.
                p.bPage__eParagraph Участники должны охарактеризовать каждое посещенное место, ответив на&nbsp;вопросы: кто сюда приходит, много&nbsp;ли бывает людей, в&nbsp;какое время и&nbsp;погоду сюда лучше приходить, с&nbsp;кем лучше сюда придти, что в&nbsp;этом месте нравится и&nbsp;не&nbsp;нравится. Если про место ходят городские легенды, то&nbsp;участники должны их&nbsp;развеять.

                h2.bPage__eParagraph Участники и&nbsp;гости проекта
                .bMCPage__eList
                    .bMCPage__eItem
                        img.bMCPage__eItemImg(src="/static/images/mb-a-swl.png", alt="")
                        span.bMCPage__eItemText.mHeadery Светлана Лагутина

                    | 
                    .bMCPage__eItem
                        img.bMCPage__eItemImg(src="/static/images/mb-a-op.png", alt="")
                        span.bMCPage__eItemText.mHeadery Анна Хурхулу

                    | 
                    .bMCPage__eItem
                        img.bMCPage__eItemImg(src="/static/images/mb-a-lizz.png", alt="")
                        span.bMCPage__eItemText.mHeadery Лиза

                    | 
                    .bMCPage__eItem
                        img.bMCPage__eItemImg(src="/static/images/mb-a-ksu.png", alt="")
                        span.bMCPage__eItemText.mHeadery Ксюша Прокушина

                    | 
                    .bMCPage__eItem
                        img.bMCPage__eItemImg(src="/static/images/mb-a-elin.png", alt="")
                        span.bMCPage__eItemText.mHeadery Алексей Елин

                    | 
                    .bMCPage__eItem
                        img.bMCPage__eItemImg(src="/static/images/mb-a-vvk.png", alt="")
                        span.bMCPage__eItemText.mHeadery Виктор Викторович Кашинцев

                    | 
                    .bMCPage__eItem
                        img.bMCPage__eItemImg(src="/static/images/mb-a-sch.png", alt="")
                        span.bMCPage__eItemText.mHeadery Саша Чуйко

                    | 
                    .bMCPage__eItem
                        img.bMCPage__eItemImg(src="/static/images/mb-a-nim.png", alt="")
                        span.bMCPage__eItemText.mHeadery Николай Иванушкин

                    | 
                    .bMCPage__eItem
                        img.bMCPage__eItemImg(src="/static/images/mb-a-unknown.png", alt="")
                        span.bMCPage__eItemText.mHeadery А. Н.

                    | 
                    .bMCPage__eItem.mEmpty
                    | 
                    .bMCPage__eItem.mEmpty
                    | 
                    .bMCPage__eItem.mEmpty
                    | 
                    .bMCPage__eItem.mEmpty
                    | 
                    .bMCPage__eItem.mEmpty

        footer.bFooter.bPage__eFooter
            .bFooter__eWrapper
                ul.bFooter__eNav
                    li.bFooter__eNavItem
                        a(href="/") Главная

                    li.bFooter__eNavItem
                        a(href="/about.html") Обо мне

                    li.bFooter__eNavItem
                        a(href="http://dev.nim579.ru/") Работы

                    li.bFooter__eNavItem
                        a(href="/photos.html") Фотографии

        include ../includes/analytics
