!!! html
html
    head
        title Синий Зуб в проекте «Московские закоулки»
        meta(http-equiv="content-type",  content="text/html; charset=utf-8")
        meta(name="viewport",            content="width=device-width, initial-scale=1.0")
        meta(property="og:title",        content="Синий Зуб в проекте «Московские закоулки»")
        meta(property="og:description",  content="Попасть на территорию можно между стоянкой и забором.")
        meta(property="og:url",          content="http://nick-iv.me/moscow-backstreets/blue-tooth.html")
        meta(property="og:image",        content="http://nick-iv.me/static/images/smm-mb.png")
        meta(property="og:image:type",   content="image/png")
        meta(property="og:image:width",  content="398")
        meta(property="og:image:height", content="208")

        link(rel="icon", type="image/png", href="/favicon.png")
        link(rel="stylesheet", type="text/css", href="/static/css/global.css")
        script(type="text/javascript", src="//yandex.st/jquery/1.8.1/jquery.min.js")
        script(type="text/javascript", src="//api-maps.yandex.ru/2.1.4/?load=package.full&lang=ru-RU")
        script(type="text/javascript", src="/static/js/slider.js")
        script(type="text/javascript", src="/static/js/publ-map.js")

    body.bLayout.bPage
        .bPage__eWrapper
            header.bPage__eHeader
                span.bPage__eHeaderItem
                    img.bNavi__eAvatar(src="/static/images/ava-mb.svg", alt="")

                span.bPage__eHeaderItem
                    h1.bPage__eTitle Синий Зуб
                    span &nbsp;/&nbsp;
                    a(href="/moscow-backstreets/") Московские&nbsp;Закоулки

            article.bPage__eArticle.bPubl
                div.bPubl__eCaption.mPos_lower.jsPublMap(style="background-image: url('//img-fotki.yandex.ru/get/9255/30973186.20/0_ac0d1_7eef46e_XL');")
                p.bPubl__eParagraph Очень скоро здесь будет статья. А пока можно посмотреть красивые <a href="/photos.html#albums/204537">фотографии заброшеного центра</a>.

                include ../includes/social_buttons

        footer.bFooter.bPage__eFooter
            .bFooter__eWrapper
                ul.bFooter__eNav
                    li.bFooter__eNavItem
                        a(href="/") Главная

                    li.bFooter__eNavItem
                        a(href="/about.html") Обо мне

                    li.bFooter__eNavItem
                        a(href="/dev.html") Работы

                    li.bFooter__eNavItem
                        a(href="/photos.html") Фотографии

        include ../includes/analytics
