!!! html
html
    head
        title Московские закоулки — Nick Iv
        meta(http-equiv="content-type",  content="text/html; charset=utf-8")
        meta(name="viewport",            content="width=device-width, initial-scale=1.0")
        meta(property="og:title",        content="Фотопроект «Московские закоулки»")
        meta(property="og:description",  content="Необычные места Москвы, в&nbsp;которых не&nbsp;обязан побывать каждый Москвич")
        meta(property="og:url",          content="http://nick-iv.me/moscow-backstreets/")
        meta(property="og:image",        content="http://nick-iv.me/static/images/smm-mb.png")
        meta(property="og:image:type",   content="image/png")
        meta(property="og:image:width",  content="398")
        meta(property="og:image:height", content="208")

        link(rel="icon", type="image/png", href="/favicon.png")
        link(rel="stylesheet", type="text/css", href="/static/css/global.css")
        script(type="text/javascript", src="http://yandex.st/jquery/1.8.1/jquery.min.js")
        script(type="text/javascript", src="http://api-maps.yandex.ru/2.1.4/?load=package.full&lang=ru-RU")
        script(type="text/javascript", src="/static/js/mb-map.js")

    body.bLayout.bPage.bMCPage
        .bPage__eWrapper
            header.bPage__eHeader
                span.bPage__eHeaderItem
                    img.bNavi__eAvatar(src="/static/images/ava-mb.svg", alt="")

                span.bPage__eHeaderItem
                    h1.bPage__eTitle Московские закоулки
                    span &nbsp;/&nbsp;
                    a(href="/") На&nbsp;главную

            article.bPage__eArticle
                p.bPage__eParagraph <a href="/moscow-backstreets/about.html">Проект</a> о разных необычные места Москвы, в&nbsp;которых не&nbsp;обязан побывать каждый Москвич.
                div.bMCPage__eMap#YMapsID

                .bMCPage__eList
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/vvedenskoye-cemetery.html")
                            img.bMCPage__eItemImg(src="https://img-fotki.yandex.ru/get/3504/nim579.8/0_bc28_79072fde_M.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/vvedenskoye-сemetery.html") Введенское кладбище

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/diversion-canal.html")
                            img.bMCPage__eItemImg(src="https://img-fotki.yandex.ru/get/5201/30973186.22/0_c8ab3_3adbdb58_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/diversion-canal.html") Деривационный канал

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/zhivopisnyj-bridge.html")
                            img.bMCPage__eItemImg(src="http://img-fotki.yandex.ru/get/6109/30973186.12/0_859c4_a820b611_M.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/zhivopisnyj-bridge.html") Живописный мост

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/embankment-of-neskuchny-garden.html")
                            img.bMCPage__eItemImg(src="https://img-fotki.yandex.ru/get/3607/nim579.b/0_bc97_1c939499_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/embankment-of-neskuchny-garden.html") Набережная Нескучного Сада

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/kuzminki.html")
                            img.bMCPage__eItemImg(src="https://img-fotki.yandex.ru/get/6108/30973186.10/0_8591b_df5853f8_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/kuzminki.html") Кузьминки

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/novospassky-pond.html")
                            img.bMCPage__eItemImg(src="https://img-fotki.yandex.ru/get/5802/30973186.13/0_89869_32a9862f_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/novospassky-pond.html") Новоспасский пруд и&nbsp;монастырь

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/serebryany-bor.html")
                            img.bMCPage__eItemImg(src="http://img-fotki.yandex.ru/get/6301/30973186.11/0_859bd_d2e248bb_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/serebryany-bor.html") Серебряный бор

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/floodplain-of-strogino.html")
                            img.bMCPage__eItemImg(src="https://img-fotki.yandex.ru/get/17840/30973186.21/0_bf600_51b013ac_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/floodplain-of-strogino.html") Строгинская пойма

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/metro-bridge.html")
                            img.bMCPage__eItemImg(src="https://img-fotki.yandex.ru/get/3604/nim579.a/0_bc6f_b723febc_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/metro-bridge.html") Метромост на&nbsp;Воробьевых горах

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/khodynka-field.html")
                            img.bMCPage__eItemImg(src="https://img-fotki.yandex.ru/get/16142/30973186.21/0_bf607_660433e8_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/khodynka-field.html") Ходынское поле

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/tatarovskaye-lake.html")
                            img.bMCPage__eItemImg(src="https://img-fotki.yandex.ru/get/3104/nim579.0/0_32f9_344e195c_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/tatarovskaye-lake.html") Татаровское озеро

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/floodplain-of-nagatino.html")
                            img.bMCPage__eItemImg(src="https://img-fotki.yandex.ru/get/6300/30973186.10/0_85738_9c6fa75d_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/floodplain-of-nagatino.html") Нагатинская пойма
                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/abandoned-infectious-buildings.html")
                            img.bMCPage__eItemImg(src="http://img-fotki.yandex.ru/get/3001/nim579.1/0_331c_31c628c0_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/abandoned-infectious-buildings.html") Заброшенные инфекционные корпуса

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/petrovsky-palace.html")
                            img.bMCPage__eItemImg(src="http://img-fotki.yandex.ru/get/15581/30973186.22/0_bf60f_3fe3bdc9_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/petrovsky-palace.html") Петровский Путевой Дворец

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/blue-tooth.html")
                            img.bMCPage__eItemImg(src="https://img-fotki.yandex.ru/get/9058/30973186.20/0_ac0cb_8688b1cf_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/blue-tooth.html") Синий Зуб

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/river-valley-setun.html")
                            img.bMCPage__eItemImg(src="https://img-fotki.yandex.ru/get/15543/30973186.22/0_bf688_12febf2a_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/river-valley-setun.html") Долина реки Сетунь

                    | 
                    .bMCPage__eItem.mEmpty
                    | 
                    .bMCPage__eItem.mEmpty
                    | 
                    .bMCPage__eItem.mEmpty
                    | 
                    .bMCPage__eItem.mEmpty
                    | 
                    .bMCPage__eItem.mEmpty

                    //- .bMCPage__eItem
                    //-     a.mNoline(href="http://nim579.ru/blog/2009-06-04-22")
                    //-         img.bMCPage__eItemImg(src="http://nim579.ru/_bl/0/s77859.jpg", alt="")

                    //-     span.bMCPage__eItemText
                    //-         a(href="http://nim579.ru/blog/2009-06-04-22") Парк имени 50-летия Октября

                    //- .bMCPage__eItem
                    //-     a.mNoline(href="/moscow-backstreets/hzb.html")
                    //-         img.bMCPage__eItemImg(src="http://nim579.ru/_bl/0/s71246.jpg", alt="")

                    //-     span.bMCPage__eItemText
                    //-         a(href="/moscow-backstreets/hzb.html") Ховринская заброшенная больница

                p.bPage__eParagraph Вы&nbsp;тоже можете поучавствовать в&nbsp;проекте, или прислать интересное место, которое стоит посетить. Просто напишите на&nbsp;почту: <a href="mailto:backstreets@nick-iv.me">backstreets@nick-iv.me</a>.

        footer.bFooter.bPage__eFooter
            .bFooter__eWrapper
                ul.bFooter__eNav
                    li.bFooter__eNavItem
                        a(href="/") Главная

                    li.bFooter__eNavItem
                        a(href="/about.html") Обо мне

                    li.bFooter__eNavItem
                        a(href="/dev.html") Работы

                    li.bFooter__eNavItem
                        a(href="/photos.html") Фотографии

        include ../includes/analytics
