!!! html
html
    head
        title Московские закоулки — Nick Iv
        meta(http-equiv="content-type",  content="text/html; charset=utf-8")
        meta(name="viewport",            content="width=device-width, initial-scale=1.0")
        meta(property="og:title",        content="Фотопроект «Московские закоулки»")
        meta(property="og:description",  content="Необычные места Москвы, в&nbsp;которых не&nbsp;обязан побывать каждый Москвич")
        meta(property="og:url",          content="http://nick-iv.me/moscow-backstreets/")
        meta(property="og:image",        content="http://nick-iv.me/static/images/smm-mb.png")
        meta(property="og:image:type",   content="image/png")
        meta(property="og:image:width",  content="398")
        meta(property="og:image:height", content="208")

        link(rel="icon", type="image/png", href="/favicon.png")
        link(rel="stylesheet", type="text/css", href="/static/css/global.css")
        script(type="text/javascript", src="http://yandex.st/jquery/1.8.1/jquery.min.js")
        script(type="text/javascript", src="http://api-maps.yandex.ru/2.1.4/?load=package.full&lang=ru-RU")
        script(type="text/javascript", src="/static/js/mb-map.js")

    body.bLayout.bPage.bMCPage
        .bPage__eWrapper
            header.bPage__eHeader
                span.bPage__eHeaderItem
                    img.bNavi__eAvatar(src="/static/images/ava-mb.png", alt="")

                span.bPage__eHeaderItem
                    h1.bPage__eTitle Московские закоулки
                    span &nbsp;/&nbsp;
                    a(href="/") На&nbsp;главную

            article.bPage__eArticle
                p.bPage__eParagraph <a href="/moscow-backstreets/about.html">Проект</a> о разных необычные места Москвы, в&nbsp;которых не&nbsp;обязан побывать каждый Москвич.
                div.bMCPage__eMap#YMapsID

                .bMCPage__eList
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2009-06-05-25")
                            img.bMCPage__eItemImg(src="http://nim579.ru/img/mz/vvedenskoye.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2009-06-05-25") Введенское кладбище

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2012-01-19-73")
                            img.bMCPage__eItemImg(src="http://nim579.ru/_bl/0/s58319106.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2012-01-19-73") Деривационный канал

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/zhivopisnyj-bridge.html")
                            img.bMCPage__eItemImg(src="http://img-fotki.yandex.ru/get/6109/30973186.12/0_859c4_a820b611_M.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/zhivopisnyj-bridge.html") Живописный мост

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2009-11-28-38")
                            img.bMCPage__eItemImg(src="http://nim579.ru/_bl/0/s05854892.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2009-11-28-38") Набережная Нескучного сада

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2012-05-07-89")
                            img.bMCPage__eItemImg(src="http://nim579.ru/img/mz/kuzminki.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2012-05-07-89") Кузьминки

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2012-07-02-92")
                            img.bMCPage__eItemImg(src="http://nim579.ru/img/mz/novospas.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2012-05-06-88") Новоспасский пруд и&nbsp;монастырь

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="/moscow-backstreets/serebryany-bor.html")
                            img.bMCPage__eItemImg(src="http://img-fotki.yandex.ru/get/6301/30973186.11/0_859bd_d2e248bb_M", alt="")

                        span.bMCPage__eItemText
                            a(href="/moscow-backstreets/serebryany-bor.html") Серебряный бор

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2009-07-29-33")
                            img.bMCPage__eItemImg(src="http://nim579.ru/_bl/0/s15409.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2009-07-29-33") Строгинская пойма

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2009-06-05-26")
                            img.bMCPage__eItemImg(src="http://nim579.ru/img/mz/metro_bridge_vg.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2009-06-05-26") Метромост на&nbsp;Воробьевых горах

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2009-06-09-30")
                            img.bMCPage__eItemImg(src="http://nim579.ru/_bl/0/s28172.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2009-06-09-30") Ходынское поле

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2009-06-09-31")
                            img.bMCPage__eItemImg(src="http://nim579.ru/_bl/0/s71246.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2009-06-09-31") Ховринская заброшенная больница

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2009-06-04-18")
                            img.bMCPage__eItemImg(src="http://nim579.ru/img/blog/tatarovskoe-golf.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2009-06-04-18") Татаровское озеро

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2012-05-06-88")
                            img.bMCPage__eItemImg(src="http://nim579.ru/img/mz/nogatino.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2012-05-06-88") Нагатинская пойма

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2009-06-04-22")
                            img.bMCPage__eItemImg(src="http://nim579.ru/_bl/0/s77859.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2009-06-04-22") Парк имени 50-летия Октября

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2009-06-04-21")
                            img.bMCPage__eItemImg(src="http://img-fotki.yandex.ru/get/3001/nim579.1/0_331c_31c628c0_M", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2009-06-04-21") Заброшенные инфекционные корпуса

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2009-06-04-20")
                            img.bMCPage__eItemImg(src="http://img-fotki.yandex.ru/get/3006/nim579.1/0_3315_47fabf19_M", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2009-06-04-20") Петровский путевой дворец

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2009-06-05-27")
                            img.bMCPage__eItemImg(src="http://nim579.ucoz.ru/_ph/7/434009580.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2009-06-05-27") Синий Зуб

                    | 
                    .bMCPage__eItem
                        a.mNoline(href="http://nim579.ru/blog/2009-06-04-23")
                            img.bMCPage__eItemImg(src="http://img-fotki.yandex.ru/get/3303/nim579.2/0_3342_4bc37b55_M.jpg", alt="")

                        span.bMCPage__eItemText
                            a(href="http://nim579.ru/blog/2009-06-04-23") Долина реки Сетунь

                    | 
                    .bMCPage__eItem.mEmpty
                    | 
                    .bMCPage__eItem.mEmpty
                    | 
                    .bMCPage__eItem.mEmpty
                    | 
                    .bMCPage__eItem.mEmpty
                    | 
                    .bMCPage__eItem.mEmpty

        footer.bFooter.bPage__eFooter
            .bFooter__eWrapper
                ul.bFooter__eNav
                    li.bFooter__eNavItem
                        a(href="/") Главная

                    li.bFooter__eNavItem
                        a(href="/about.html") Обо мне

                    li.bFooter__eNavItem
                        a(href="http://dev.nim579.ru/") Работы

                    li.bFooter__eNavItem
                        a(href="/photos.html") Фотографии

        include ../includes/analytics
