@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans'),local('OpenSans'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/RjgO7rYTmqiVp7vzi-Q5UbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff')}@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:local('Open Sans Italic'),local('OpenSans-Italic'),url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBkbeuvGrcRTTBH456c-a4yI.woff) format('woff')}html{height:100%}
a:active,a:link,a:visited{color:#484880;text-decoration:none;border-bottom:1px solid #545481;transition:color 0.4s}
a:hover{color:#7575b6;text-decoration:none;border-bottom:1px solid #7f7fb9}
a.mNoline{text-decoration:underline;border-bottom:0;outline:0}
.bLayout{padding:0;margin:0;background-color:#F1F0F0;font-size:0.85em;font-weight:normal;font-family:'Open Sans',sans-serif;color:#3a3a3a;height:100%}.bLayout__eContainer{position:absolute;top:0;left:0;margin:0 auto;height:100%;width:100%;min-width:450px}
.bLayout__eTableWrapper{display:table;width:100%;height:100%;text-align:center;vertical-align:middle}
.bLayout__eTableRow{display:table-row}
.bLayout__eTableScope{display:table-cell;width:100%;text-align:center;vertical-align:middle}
.bLayout__eTableScopeFooter{vertical-align:top;height:50px}
.bFooter{max-width:900px;min-width:300px;width:70%;margin:0 auto;border-top:1px solid #999;padding:15px 0 20px 0;color:#777;text-align:center;overflow:hidden}.bFooter__eWrapper{display:inline-block;width:100%;margin-left:-15px;line-height:30px}
.bFooter__eItem{display:inline-block;padding:0 0 0 15px}
.bFooter__eItemImg{position:relative;bottom:-0.18em;border:0}
.bFooter__eNav{display:inline-block;list-style-type:none;margin:0;padding:0 0 0 15px}
.bFooter__eNavItem{display:inline-block;font-size:0.95em;margin-left:15px;opacity:0.7}
.bHeader__eTitle{font-size:2.5em;margin:20px 0 0 0;color:#272759}
.bHeader__eMega{font-size:15em;line-height:0.9em;text-shadow:0 0 60px rgba(77,95,164,0.6)}
.bHeader__eDescr{max-width:650px;margin:0 auto;padding:0 20px}
.bHeader__eAvatar{display:inline-block;width:200px;height:200px;margin-top:5px;border:5px solid #272759;border-radius:110px;box-shadow:0 0 20px rgba(255,255,255,0.4) inset,0 0 150px 20px rgba(77,95,164,0.6);background:#272759 url('/static/images/ava-main.jpg') no-repeat}
.bPage__eWrapper{min-height:100%;position:relative;vertical-align:baseline;overflow:hidden}
.bPage__eFooter{margin-top:-66px;position:relative;vertical-align:baseline}
.bPage__eHeader{max-width:1400px;min-width:720px;width:70%;display:block;margin:10px auto 25px;padding:0 20px}
.bPage__eHeaderItem{display:table-cell}
.bPage__eArticle{max-width:1400px;min-width:720px;width:70%;display:block;margin:0 auto 30px;text-align:center;vertical-align:top;padding:0 20px 66px 20px}
.bPage__eTitle{display:inline-block;margin:0}
.bPage__eParagraph{text-align:left}
.bPhotoPage__eHiddenPhoto{width:200px;height:0;margin:0 20px}
.bPhotoPage__ePhotos{margin:0 -20px}
.bPhotoPage__eColumn{display:inline-block;vertical-align:top;text-align:left}
.bPhotoPage__ePhotosLink{text-decoration:0;border:0 !important;display:block;margin:20px;cursor:pointer;vertical-align:bottom}
.bPhotoPage__ePhotosImg{display:inline-block;width:200px;height:auto}
.bPhotoPage__eAlbums{text-align:justify;margin:0 -20px}
.bPhotoPage__eAlbumsItem{display:inline-block;margin:0 20px 40px 20px;vertical-align:top}.bPhotoPage__eAlbumsItem.mEmpty{width:200px;height:0;margin-bottom:0}
.bPhotoPage__eAlbumsImg{height:150px;border:0;cursor:pointer}
.bPhotoPage__eAlbumsText{display:block;text-align:left}
.bPhotoPage__eAlbum{display:inline-block;margin:0 20px;text-align:left}
.bPhotoPage__eAlbumTitle{font-size:1.5em}
.bAboutPage{text-align:left}.bAboutPage__eArticle{display:block;margin:0 auto 30px;max-width:1400px;min-width:720px;text-align:left;vertical-align:top;width:70%;padding:0 20px}.bAboutPage__eArticle.mLast{padding-bottom:66px}
.bAboutPage__eImage{display:block;margin:0 auto 30px;max-width:1400px;min-width:720px;text-align:left;vertical-align:middle;width:70%;padding:0 20px}.bAboutPage__eImage.mLast{padding-bottom:66px}
.bAboutPage__eImageInto{max-width:565px;width:100%;vertical-align:middle}
.bAboutPage__eParagraph{margin:0.5em 10%}
.bMCPage .bPage__eHeader{margin-bottom:0}
.bMCPage__eMap{width:100%;height:450px;margin:0 auto 20px}
.bMCPage__eList{text-align:justify;margin:0 -20px}
.bMCPage__eItem{display:inline-block;margin:0 20px 40px 20px;vertical-align:top;width:220px}.bMCPage__eItem.mEmpty{margin:0 20px 0 20px}
.bMCPage__eItemImg{width:220px;border:0;vertical-align:top}
.bMCPage__eItemText{display:block;max-width:220px;cursor:pointer;text-align:left}.bMCPage__eItemText.mHeadery{text-align:center;cursor:auto;padding-top:10px;display:block}
.bMCPage__eImage{display:block;margin:0 auto 30px;max-width:1400px;min-width:720px;text-align:left;vertical-align:middle;width:70%;padding:0 20px}
.bNavi__eMain{margin:20px 0 20px 15px}
.bNavi__eMainList{list-style-type:none;padding:0}
.bNavi__eMainItem{display:inline-block;font-size:1.2em;font-weight:normal;padding-right:15px}.bNavi__eMainItem.mDisabled{color:#777;font-style:italic;opacity:0.5;cursor:default;border:0;text-decoration:none}
.bNavi__eAvatar{position:relative;top:8px;display:inline-block;width:44px;height:44px;margin:0 10px 0 0;border-radius:44px}
.bHighlight{overflow:hidden;width:100%;height:100%}.bHighlight__eContainer{position:fixed;top:0;left:0;right:0;bottom:0;z-index:100;background:rgba(0,0,0,0.9);overflow:auto;text-align:center}
.bHighlight__eWrapper{display:inline-block;margin:30px;vertical-align:middle;position:absolute;top:0;left:0;right:0;bottom:0;z-index:101}.bHighlight__eWrapper img{max-width:100%;max-height:100%;background-color:#000000;box-shadow:0 0 20px #000000}
.bHighlight__eClose{position:absolute;z-index:102;top:0;right:0;width:60px;height:100%;color:#ccc;font-size:25px;opacity:0.3;cursor:pointer}.bHighlight__eClose:hover{background-color:rgba(0,0,0,0.35);color:#bbb}
.bHelpers__eNote{display:inline-block;top:0;margin-left:10px}.bHelpers__eNoteText{display:inline-block;width:0;margin-left:10px;white-space:nowrap;font-size:0.4em;line-height:2.5em;color:#3a3a3a;font-weight:normal;vertical-align:baseline}
.bIcons{display:inline-block;width:17px;height:17px;position:relative;border:0;bottom:-0.18em}.bIcons.mFacebook{background:url('/static/b/bIcons/fb.png') no-repeat}
.bIcons.mInstagram{background:url('/static/b/bIcons/instagram.png') no-repeat}
.bIcons.mVkontakte{background:url('/static/b/bIcons/vk.png') no-repeat}
.bIcons.mGithub{background:url('/static/b/bIcons/gh.png') no-repeat}
.tooltip{position:absolute;z-index:1030;display:block;visibility:visible;font-size:12px;line-height:1.4;opacity:0;filter:alpha(opacity=0)}
.tooltip.in{opacity:0.9;filter:alpha(opacity=90)}
.tooltip.top{margin-top:-3px;padding:5px 0}
.tooltip.right{margin-left:3px;padding:0 5px}
.tooltip.bottom{margin-top:3px;padding:5px 0}
.tooltip.left{margin-left:-3px;padding:0 5px}
.tooltip-inner{max-width:200px;padding:3px 8px;color:#ffffff;text-align:center;text-decoration:none;background-color:#000000;border-radius:4px}
.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}
.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#000000}
.tooltip.top-left .tooltip-arrow{bottom:0;left:5px;border-width:5px 5px 0;border-top-color:#000000}
.tooltip.top-right .tooltip-arrow{bottom:0;right:5px;border-width:5px 5px 0;border-top-color:#000000}
.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#000000}
.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#000000}
.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#000000}
.tooltip.bottom-left .tooltip-arrow{top:0;left:5px;border-width:0 5px 5px;border-bottom-color:#000000}
.tooltip.bottom-right .tooltip-arrow{top:0;right:5px;border-width:0 5px 5px;border-bottom-color:#000000}
@media screen and (max-width:760px){.bPage__eHeader,.bPage__eArticle,.bAboutPage__eArticle,.bAboutPage__eImage{max-width:680px;min-width:240px;width:90%} .bPhotoPage__eHiddenPhoto{width:100px;height:0;margin:0 10px} .bPhotoPage__ePhotosLink{text-decoration:0;border:0;display:block;margin:10px;cursor:pointer;vertical-align:bottom} .bPhotoPage__ePhotosImg{display:inline-block;width:100px;height:auto} .bFooter{width:90%}}@media screen and (max-width:680px){.bPage__eArticle,.bAboutPage__eArticle.mLast,.bAboutPage__eImage.mLast{padding-bottom:96px} .bPage__eFooter{margin-top:-96px}}@media screen and (max-width:600px){.bHelpers__eNoteText{display:block;width:auto;margin:0}}@media (max-width:500px){.bLayout__eTableScope{vertical-align:top;padding-top:3em} .bNavi__eMainList{display:inline-block;text-align:left;width:80%} .bNavi__eMainItem{display:block;font-size:1.5em}}
