mixin empty(photo, post_text)
    div.bPubl__eCaption.mPos_lower.jsPublMap(style="background-image: url('#{photo}');")
    p.bPubl__eParagraph
        | Очень скоро здесь будет статья. 
        != post_text
