mixin header(name)
    span.bPage__eHeaderItem
        img.bNavi__eAvatar(src="/static/images/ava-mb.svg", alt="")

    span.bPage__eHeaderItem
        h1.bPage__eTitle= name
        span &nbsp;/&nbsp;
        a(href="/moscow-backstreets/") Московские&nbsp;Закоулки
