block vars

doctype html
html
    head
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title
            block title
                | Nick Iv

        link(rel="icon", type="image/png", href="/favicon.png")
        link(rel="stylesheet", type="text/css", href="/static/global.css")

        block head

    block body
        body
