.bPage {
    &__eWrapper {
        min-height: 100%;
        position: relative;
        vertical-align: baseline;
        overflow: hidden;
    }
    &__eFooter {
        margin-top: -66px;
        position: relative;
        vertical-align: baseline;
    }
    &__eHeader {
        max-width: 1400px;
        min-width: 720px;
        width: 70%;
        display: block;
        margin: 10px auto 25px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    &__eHeaderItem {
        display: table-cell;
    }
    &__eArticle {
        max-width: 1400px;
        min-width: 720px;
        width: 70%;
        display: block;
        margin: 0 auto 30px;
        text-align: center;
        vertical-align: top;
        padding: 0 20px 66px 20px;
        box-sizing: border-box;
    }
    &__eTitle {
        display: inline-block;
        margin: 0;
    }
    &__eParagraph {
        text-align: left;
    }

    @media screen and (max-width: 760px) {
        &__eHeader, &__eArticle {
            max-width: 680px;
            min-width: 240px;
            width: 100%;
        }
    }
    @media screen and (max-width: 680px) {
        &__eArticle {
            padding-bottom: 96px;
        }
        &__eFooter {
            margin-top: -96px;
        }
    }
}

.bPhotoPage {
    &__ePhotos {
        display: block;

        -webkit-columns: 250px auto;
           -moz-columns: 250px auto;
                columns: 250px auto;
        -webkit-column-gap: 0;
           -moz-column-gap: 0;
                column-gap: 0;

        height: 100%;
        margin: 0 -15px;
    }
    &__ePhotosLink {
        display: inline-block;
        padding: 15px;
        box-sizing: border-box;

        border: 0;
        outline: none;

        text-decoration: none;
        cursor: pointer;

        transition: all 0.4s;
        transform: translate3d(0,0,0);

        &:hover {
            border: 0;
            outline: none;
            transform: scale(1.05) translate3d(0,0,0);
        }
        &.mHidden {
            opacity: 0;
            transform: scale(0.5) translate3d(0,0,0);
        }
    }
    &__ePhotosImg {
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &__eAlbums {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;

        &Item {
            display: block;
            flex: 1 0 210px;
            margin: 0 20px 40px;
            align-self: baseline;
            vertical-align: top;

            border: 0;

            text-decoration: none;
            text-align: left;

            transition: transform 0.4s, opacity 0.4s;
            transform: translate3d(0,0,0);

            &:hover {
                border: 0;
                color: @linkColor;

                .bPhotoPage__eAlbumsImg {
                    transform: scale(1.05);
                }
                .bPhotoPage__eAlbumsText {
                    transform: translate(0, 0.3em);
                }
            }

            &.mEmpty {
                height: 0;
                margin-bottom: 0;
            }
            &.mHidden {
                opacity: 0;
                transform: scale(1.1) translate3d(0,0,0);
            }
        }
        &Img {
            display: inline-block;
            width: 100%;
            margin-bottom: 0.5em;
            border: 0;
            vertical-align: bottom;
            transition: transform 0.4s;
        }
        &Text {
            display: inline-block;
            text-align: left;
            transition: transform 0.4s;

            &Count {
                color: fade(@fontColor, 80%);
                font-size: 0.8em;
            }
        }
    }

    &__eAlbum {
        display: inline-block;
        margin: 0 20px;
        text-align: left;
    }
    &__eAlbumTitle {
        font-size: 1.5em;
    }

    &__ePreloader {
        position: fixed;
        display: block;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        margin: -30px/2 0 0 -30px/2;

        background: url('images/preloader_dark.svg') no-repeat;
        background-size: 30px;

        font-size: 0;
        vertical-align: top;
        z-index: 1000;
        animation: preloader 0.7s infinite linear;

        .mHidden {
            display: none;
        }
    }

    @media screen and (max-width: 760px) {
        &__ePhotos {
            -webkit-columns: 190px auto;
               -moz-columns: 190px auto;
                    columns: 190px auto;
        }
    }
    @media screen and (max-width: 600px) {
        &__ePhotos {
            margin-right: -10px;
            margin-left: -10px;
        }
        &__ePhotosLink {
            padding: 10px;
        }
        &__eAlbums {
            margin-right: -10px;
            margin-left: -10px;
        }
        &__eAlbumsItem {
            margin: 0 10px 20px;
            flex-basis: 120px;
        }
    }
    @media screen and (max-width: 400px){
        &__ePhotos {
            -webkit-columns: 150px auto;
               -moz-columns: 150px auto;
                    columns: 150px auto;
        }
    }
}
.bAboutPage {
    text-align: left;

    &__eArticle {
        display: block;
        margin: 0 auto 30px;
        max-width: 1400px;
        min-width: 720px;
        text-align: left;
        vertical-align: top;
        width: 70%;
        padding: 0 20px;
        box-sizing: border-box;

        &.mLast {
            padding-bottom: 66px;
        }
    }
    &__eImage {
        display: block;
        margin: 0 auto 30px;
        max-width: 1400px;
        min-width: 720px;
        text-align: left;
        vertical-align: middle;
        width: 70%;
        padding: 0 20px;
        box-sizing: border-box;

        &.mLast {
            padding-bottom: 66px;
        }
        &.mMini {

        }
        &Into, &Inline {
            max-width: 565px;
            width: 100%;
            vertical-align: middle;
        }
    }
    &__eAyyo {
        display: block;
        margin: 0 auto 30px;
        min-width: 320px;

        text-align: center;

        &Wrap {
            display: inline-block;
            position: relative;
        }
        &Image {
            width: 320px;
        }
        &Screen {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 400px;
            height: 714px;

            border: 0;
            overflow: auto;

            transform: translate(-50%, -50%) scale(280 / 400);
        }
        &Frame {
            display: block;
            width: 100%;
            height: 100%;
            border: 0;
            outline: none;
            overflow: hidden;
        }
    }
    &__eParagraph {
        margin: 0.5em 10%;
    }

    @media screen and (max-width: 760px) {
        &__eArticle, &__eImage {
            max-width: 680px;
            min-width: 240px;
            width: 100%;
        }
        &__eImage {
            padding: 0;

            &Into {
                padding: 0 20px;
                box-sizing: border-box;
            }
        }
    }
    @media screen and (max-width: 680px) {
        &__eArticle.mLast, &__eImage.mLast {
            padding-bottom: 96px;
        }
    }
}

.bMCPage {
    .bPage__eHeader {
        margin-bottom: 0;
    }
    &__eMap {
        width: 100%;
        height: 450px;
        margin: 0 auto 20px;
    }
    &__eList {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
    }
    &__eItem {
        display: inline-block;
        flex: 1 0 200px;
        max-width: 300px;
        margin: 0 20px 40px;
        align-self: baseline;
        vertical-align: top;

        text-decoration: none;
        text-align: left;
        border: 0;
        outline: 0;
        transform: translate3d(0,0,0);

        &:hover {
            border: 0;
            color: @linkColor;

            .bMCPage__eItemImg {
                transform: scale(1.05);
            }
            .bMCPage__eItemText {
                transform: translate(0, 0.3em);
            }
        }

        &.mEmpty {
            margin: 0 20px 0 20px;
        }
        &.mNotLink:hover {
            color: @fontColor;

            .bMCPage__eItemImg {
                transform: none;
            }
            .bMCPage__eItemText {
                transform: none;
            }
        }

        &Img {
            display: inline-block;
            width: 100%;
            margin-bottom: 0.5em;
            border: 0;
            vertical-align: bottom;
            transition: transform 0.4s;
        }
        &Text {
            display: inline-block;
            text-align: left;
            transition: transform 0.4s;

            &.mHeadery {
                text-align: center;
                cursor: auto;
                padding-top: 10px;
                display: block;
            }
        }
    }

    &__eImage {
        display: block;
        margin: 0 auto 30px;
        max-width: 1400px;
        min-width: 720px;
        text-align: left;
        vertical-align: middle;
        width: 70%;
        padding: 0 20px;
    }

    @media screen and (max-width: 760px) {
        &__eImage {
            position: relative;
            left: 50%;
            width: 100%;
            min-width: 550px;
            margin-left: 0;
            margin-right: 0;
            transform: translate(-50%, 0);
        }
    }

    @media screen and (max-width: 600px) {
        &__eList {
            margin-right: -10px;
            margin-left: -10px;
        }
        &__eItem {
            flex-basis: 120px;
            margin: 0 10px 20px;
        }
    }
}
