extends ./includes/layout

block title
    | 500 — Nick Iv

block body
    body.bLayout
        .bLayout__eContainer
            .bLayout__eTableWrapper
                .bLayout__eTableRow
                    .bLayout__eTableCell
                        header
                            h1.bHeader__eTitle.bHeader__eMega 500
                            h1.bHeader__eTitle Ошибка в&nbsp;выполнении кода
                            p.bHeader__eDescr Вы&nbsp;выиграли! Чудом, вы&nbsp;заставили сервер совершить ошибку. <a href="mailto:studio@nim579.ru">Напишите</a> мне об&nbsp;этом достижении, пожалуйста

        include includes/analytics
