include ./includes/footer_menu
extends ./includes/layout

block title
    | О себе — Nick Iv

block head
    meta(property="og:title",        content="Nick Iv")
    meta(property="og:description",  content="Фронтенд разработчик")
    meta(property="og:url",          content="https://nick-iv.me/about.html")
    meta(property="og:image",        content="https://nick-iv.me/static/images/smm-main.png")
    meta(property="og:image:type",   content="image/png")
    meta(property="og:image:width",  content="398")
    meta(property="og:image:height", content="208")

block body
    body.bLayout.bPage.bAboutPage
        .bPage__eWrapper
            header.bPage__eHeader
                span.bPage__eHeaderItem
                    img(src="/static/images/ava.svg", class="bNavi__eAvatar")

                span.bPage__eHeaderItem
                    h1.bPage__eTitle О себе
                    span &nbsp;/&nbsp;
                    a(href="/") На&nbsp;главную

            article.bAboutPage__eArticle
                p Меня зовут Николай. Меня можно узнать под ником nim579 и&nbsp;псевдонимом Nick&nbsp;Iv.
                p Мне можно писать на&nbsp;почту <a href="mailto:nick@nick-iv.me">nick@nick-iv.me</a>, и&nbsp;найти в&nbsp;<a href="https://vk.com/nim579">Вконтакте</a>, <a href="https://www.facebook.com/nim579">Фейсбуке</a>, <a href="http://instagram.com/nim579">Инстаграме</a>, <a href="https://twitter.com/nim579">Твиттере</a>, <a href="https://github.com/nim579">Гитхабе</a>, <a href="http://nivanushkin.moikrug.ru/">Моем круге</a> и еще длинном-длинном списке.
                p Я&nbsp;профессиональный frontend-разработчик.<br>Сейчас я тимлид команды фронтенда в <a href="//www.ayyo.ru">Аййо</a>&nbsp;&mdash; одного из&nbsp;проектов компании <a href="http://inn.ru">Иннова</a>. И&nbsp;создаю маленький сервис для копирайтеров&nbsp;&mdash; <a href="http://stopslov.net">Стоп-слов</a>.

            a(href="//www.ayyo.ru/")
                img.bAboutPage__eImage(src="/static/images/about-ayyo.jpg", alt="")

            article.bAboutPage__eArticle
                p Я&nbsp;постоянно использую новейшие технологии и&nbsp;методики разработки, стремлюсь делать качественные и&nbsp;удобные продукты. По&nbsp;мимо программирования, я&nbsp;разбираюсь в&nbsp;дизайне интерфейсов и&nbsp;типографике. Множество моих работ можно найти на <a href="https://github.com/nim579">GitHub</a>.
                p Маленьких список технологий, которые я&nbsp;использую:

            .bAboutPage__eImage.mMini
                img.bAboutPage__eImageInto(src="/static/images/about-tech.png", alt="")

            article.bAboutPage__eArticle
                p У меня есть небольшой фото-проект, который называется Московские закоулки. В нем собрано множество разных необычных мест Москвы, с качественными фотографиями и рассказами про эти места.

            a(href="/moscow-backstreets/")
                img.bAboutPage__eImage(src="/static/images/about-mb.jpg", alt="")

            article.bAboutPage__eArticle.mLast
                p И еще, я немножко <a href="/photos.html">фотографирую</a>, гордиться нечем, но всё не очень плохо.

        +footerMenu('about')
        include includes/analytics
