extends ./includes/layout

block title
    | 503 — Nick Iv

block body
    body.bLayout
        .bLayout__eContainer
            .bLayout__eTableWrapper
                .bLayout__eTableRow
                    .bLayout__eTableCell
                        header
                            h1.bHeader__eTitle.bHeader__eMega 503
                            h1.bHeader__eTitle Технические работы
                            p.bHeader__eDescr
                                | Сервер задумался о&nbsp;вопросе жизни, вселенной и&nbsp;вообще.
                                br
                                | Скоро он&nbsp;вернется, и&nbsp;сайт станет еще лучше

        include includes/analytics
