!!! html
html
    head
        title 500 — Nick Iv
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="icon", type="image/png", href="/favicon.png")
        link(rel="stylesheet", type="text/css", href="/static/css/global.css")
        script(type="text/javascript", src="//yandex.st/jquery/1.8.1/jquery.min.js")

    body.bLayout
        .bLayout__eContainer
            .bLayout__eTableWrapper
                .bLayout__eTableRow
                    .bLayout__eTableScope
                        header
                            h1.bHeader__eTitle.bHeader__eMega 500
                            h1.bHeader__eTitle Ошибка в&nbsp;выполнении кода
                            p.bHeader__eDescr Вы&nbsp;выиграли! Чудом, вы&nbsp;заставили сервер совершить ошибку. <a href="mailto:studio@nim579.ru">Напишите</a> мне об&nbsp;этом достижении, пожалуйста

        include includes/analytics
