!!! html
html
    head
        title Работы — Nick Iv
        meta(http-equiv="content-type",  content="text/html; charset=utf-8")
        meta(name="viewport",            content="width=device-width, initial-scale=1.0")
        meta(property="og:title",        content="Работы Nick Iv")
        meta(property="og:description",  content="Всё чем я живу")
        meta(property="og:url",          content="http://nick-iv.me/dev.html")
        meta(property="og:image",        content="http://nick-iv.me/static/images/smm-dev.png")
        meta(property="og:image:type",   content="image/png")
        meta(property="og:image:width",  content="500")
        meta(property="og:image:height", content="500")

        link(rel="icon", type="image/png", href="/favicon.png")
        link(rel="stylesheet", type="text/css", href="/static/css/global.css")
        script(type="text/javascript", src="http://yandex.st/jquery/1.8.1/jquery.min.js")

    body.bLayout.bPage.bAboutPage
        .bPage__eWrapper
            header.bPage__eHeader
                span.bPage__eHeaderItem
                    img(src="/static/images/ava-dev.svg", class="bNavi__eAvatar")

                span.bPage__eHeaderItem
                    h1.bPage__eTitle Работы
                    span &nbsp;/&nbsp;
                    a(href="/") На&nbsp;главную

            article.bAboutPage__eArticle
                p <a href="http://stopslov.net/">Стоп-слов нет</a>&nbsp;&mdash; полезный сервис для копирайтеров и&nbsp;неравнодушных. Он&nbsp;беспощаден к&nbsp;маркетинговой шелухе, и&nbsp;шаблонным словечкам. У&nbsp;проекта большие планы и&nbsp;амбиции.

            a(href="http://stopslov.net/")
                img.bAboutPage__eImage(src="/static/images/dev-stopslov.jpg", alt="")

            article.bAboutPage__eArticle
                p <a href="http://nixie-clock.nim579.ru/">Nixie Clock</a>&nbsp;&mdash; небольшой фан-проект призванный нести красоту и&nbsp;антураж времен холодной войны в&nbsp;мир. Вся суть сводится к&nbsp;отображению времени в&nbsp;виде газоразрядных индикаторов и&nbsp;в&nbsp;нескольких системах счисления.
                p Часы показывают время на&nbsp;в&nbsp;вебе, на&nbsp;Андройде и&nbsp;и&nbsp;Виндоус.

            a(href="http://nixie-clock.nim579.ru/")
                img.bAboutPage__eImage(src="/static/images/dev-nixie.jpg", alt="")

            article.bAboutPage__eArticle
                p Простенький виджет со&nbsp;сложной версткой, который я&nbsp;разрабатываю на&nbsp;<a href="https://ayyo/">основной работе</a>. С&nbsp;него можно смотреть фильмы (если установлен flash) за&nbsp;небольшие деньги, оплачивая с&nbsp;телефона или через Деньги@Mail.ru.
                p Главная особенность виджета&nbsp;&mdash; бесконечная резиновость верстки.

            .bAboutPage__eFrame
                .bAboutPage__eFrameWrap
                    iframe.bAboutPage__eFrameContent(src="https://widget.ayyo.ru/#movies/star-trek-into-darkness/")

            article.bAboutPage__eArticle
                p <a href="http://dev.nim579.ru/jqTime/">jqTime</a>&nbsp;&mdash; мощный плагин для jQuery. Показывает текущее время, или отсчитывает время до&nbsp;конца дня, или до&nbsp;заданного времени (например до&nbsp;конца пары).
                p У&nbsp;плагина множество возможностей и&nbsp;настроек, несколько режимов работы, и&nbsp;он&nbsp;только кофе не&nbsp;варит, пока.

            a(href="http://dev.nim579.ru/jqTime/")
                img.bAboutPage__eImage(src="/static/images/dev-jqtime.jpg", alt="")

            article.bAboutPage__eArticle
                h2 Полезные инструменты
                p <a href="https://npmjs.org/package/node-srv">Node-srv</a>&nbsp;&mdash; простой Node.js сервер, который легко запустить и&nbsp;настроить.
                p <a href="http://dev.nim579.ru/password-generator/">Генератор паролей</a>&nbsp;&mdash; генерирует пароли. Генератор настраивается позволяет задать свой список символов для пароля.
                p <a href="http://dev.nim579.ru/measure-speed/">Измеритель скорости интернета</a>&nbsp;&mdash; мой ответ Speedtest.net. Пока работает не&nbsp;точно, но&nbsp;всё впереди.

            article.bAboutPage__eArticle.mLast
                h2 Бесполезные проекты
                p <a href="http://dev.nim579.ru/navalny/">Navalny</a>&nbsp;&mdash; маленькое промо для избирательной компании Алексея Навального.
                a(href="http://dev.nim579.ru/navalny/")
                    img.bAboutPage__eImageInto(src="/static/images/dev-navalny.jpg", alt="")

                p <a href="http://dev.nim579.ru/glassy-worms/">Glassy Worms</a>&nbsp;&mdash; плагин для jQuery, добавляющий стеклянных ползающих червячков в&nbsp;фон. Красиво, но&nbsp;бесполезно.
                a(href="http://dev.nim579.ru/navalny/")
                    img.bAboutPage__eImageInto.mLast(src="/static/images/dev-gw.jpg", alt="")

        footer.bFooter.bPage__eFooter
            .bFooter__eWrapper
                ul.bFooter__eNav
                    li.bFooter__eNavItem
                        a(href="/") Главная

                    li.bFooter__eNavItem
                        a(href="/about.html") О себе

                    li.bFooter__eNavItem
                        a(href="/photos.html") Фотографии

                    li.bFooter__eNavItem
                        a(href="/moscow-backstreets/") Московские&nbsp;закоулки
        
        include includes/analytics
