!!! html
html
    head
        title Nick Iv
        meta(http-equiv="content-type",        content="text/html; charset=utf-8")
        meta(name="viewport",                  content="width=device-width, initial-scale=1.0")
        meta(property="og:title",              content="Nick Iv")
        meta(property="og:description",        content="Фронтенд разработчик")
        meta(property="og:url",                content="http://nick-iv.me/")
        meta(property="og:image",              content="http://nick-iv.me/static/images/smm-main.png")
        meta(property="og:image:type",         content="image/png")
        meta(property="og:image:width",        content="500")
        meta(property="og:image:height",       content="500")

        link(rel="icon", type="image/png", href="/favicon.png")
        link(rel="stylesheet", type="text/css", href="/static/css/global.css")
        script(type="text/javascript", src="//yandex.st/jquery/1.8.1/jquery.min.js")

    body.bLayout
        .bLayout__eContainer
            .bLayout__eTableWrapper
                .bLayout__eTableRow
                    .bLayout__eTableScope
                        header
                            .bHeader__eAvatar
                            h1.bHeader__eTitle Николай Иванушкин
                            p.bHeader__eDescr Frontend-разработчик

                        nav.bNavi__eMain
                            ul.bNavi__eMainList
                                li.bNavi__eMainItem
                                    a(href="/about.html") О себе

                                li.bNavi__eMainItem
                                    a(href="/dev.html") Работы

                                li.bNavi__eMainItem
                                    a(href="/photos.html") Фотографии

                                li.bNavi__eMainItem
                                    a(href="/moscow-backstreets/") Московские закоулки

                .bLayout__eTableRow
                    footer.bLayout__eTableScope.bLayout__eTableScopeFooter
                        .bFooter
                            .bFooter__eWrapper
                                span.bFooter__eItem
                                    | E-mail: 
                                    a(href="mailto:nick@nick-iv.me") nick@nick-iv.me

                                | 

                                span.bFooter__eItem
                                    | Mobile: 
                                    i +7 916 976-36-18

                                | 

                                span.bFooter__eItem
                                    a.bFooter__eItemImg.mFirst.mNoline(href="http://vk.com/nim579")
                                        i.bIcons.mVkontakte

                                    a.bFooter__eItemImg.mNoline(href="http://www.facebook.com/nim579")
                                        i.bIcons.mFacebook

                                    a.bFooter__eItemImg.mNoline(href="http://instagram.com/nim579")
                                        i.bIcons.mInstagram

                                    a.bFooter__eItemImg.mNoline(href="http://github.com/nim579")
                                        i.bIcons.mGithub

        #promo

        include includes/analytics
