.bPage {
    &__eWrapper {
        min-height: 100%;
        position: relative;
        vertical-align: baseline;
        overflow: hidden;
    }
    &__eFooter {
        margin-top: -66px;
        position: relative;
        vertical-align: baseline;
    }
    &__eHeader {
        max-width: 1400px;
        min-width: 720px;
        width: 70%;
        display: block;
        margin: 10px auto 25px;
        padding: 0 20px;
    }
    &__eHeaderItem {
        display: table-cell;
    }
    &__eArticle {
        max-width: 1400px;
        min-width: 720px;
        width: 70%;
        display: block;
        margin: 0 auto 30px;
        text-align: center;
        vertical-align: top;
        padding: 0 20px 66px 20px;
    }
    &__eTitle {
        display: inline-block;
        margin: 0;
    }

    &__eParagraph {
        text-align: left;
    }
}
.bPhotoPage {
    &__eHiddenPhoto {
        width: 200px;
        height: 0;
        margin: 0 20px;
    }
    &__ePhotos {
        margin: 0 -20px;
    }
    &__eColumn {
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
    &__ePhotosLink {
        text-decoration: 0;
        border: 0 !important;
        display: block;
        margin: 20px;
        cursor: pointer;
        vertical-align: bottom;
    }
    &__ePhotosImg {
        display: inline-block;
        width: 200px;
        height: auto;
    }

    &__eAlbums {
        text-align: justify;
        margin: 0 -20px;
    }
    &__eAlbumsItem {
        display: inline-block;
        margin: 0 20px 40px 20px;
        vertical-align: top;
        &.mEmpty {
            width: 200px;
            height: 0;
            margin-bottom: 0;
        }
    }
    &__eAlbumsImg {
        height: 150px;
        border: 0;
        cursor: pointer;
    }
    &__eAlbumsText {
        display: block;
        text-align: left;
    }

    &__eAlbum {
        display: inline-block;
        margin: 0 20px;
        text-align: left;
    }
    &__eAlbumTitle {
        font-size: 1.5em;
    }
}

.bMCPage {
    .bPage__eHeader {
        margin-bottom: 0;
    }
    &__eMap {
        width: 100%;
        height: 450px;
        margin: 0 auto 20px;
    }
    &__eList {
        text-align: justify;
        margin: 0 -20px;
    }
    &__eItem {
        display: inline-block;
        margin: 0 20px 40px 20px;
        vertical-align: top;
        width: 220px;
    }
    &__eItemImg {
        width: 220px;
        border: 0;
    }
    &__eItemText {
        display: block;
        max-width: 220px;
        cursor: pointer;
        text-align: left;
    }
}



